h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("file:///C:/Users/monke/OneDrive/Desktop/VSCode%20Projects/ArtsAndCrafts/resources/pattern.jpeg");
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color: mediumspringgreen;
}

h3{
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    text-align: left;
}
b {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
* {
    font-family: Helvetica;
}
.section2 h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
    text-align: left;
}

.section2 h3{
    font-weight: bold;
    color: black;
    text-align: left;
}

.section3 h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
    text-align: left;
}

.section3 h3 {
    font-weight: bold;
    color: black;
    text-align: left;
}